

  <nav class="navbar navbar-light " >
    <a class="navbar-brand" href="#">
      <img src="./../../../assets/hospital.svg" width="30" height="30" alt="" loading="lazy">
    </a>
    <div class="dropdown">
      <button class="icon  bg-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ion-icon name="person-circle-outline"></ion-icon>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"  (click)="close()">salir</a>
      </div>
    </div>
  </nav>