
body{
    background: rgb(235, 235, 235);
}
.fecha_atras{
    padding: 5%;
    width: 80px;
}
.texto_centro{
    text-align: center;
}

h1{
    font-size: 60px;
}
.fecha_cuadro{
    background: rgb(241, 241, 241);
    border: solid rgb(65, 65, 65) 6px;
    border-radius: 10px;
    padding: 8%;
    margin-top: 100px;
}
label{
    font-size: 30px;
    margin-top: 100px;
}
.label2{
    font-size: 30px;
    margin-top: 55px;
}
.input, .select{
    border: solid rgb(146, 146, 146) 6px;
    font-size: 25px;
    width: 100%;
}
.boton{
    background: #5EBDBD;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    border: solid 0px;
    border-radius: 10px;
    font-size: 28px;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    width: 40%;
}

.ver{
    background: rebeccapurple;
    margin: 0%;
}