
<ion-content>
  <div class="post">
  <div class="row justify-content-center">
    <div class="col-sm-4 m-4 fadeInDown ">
      <div class="card">
        <div class="card-body " routerLink="paciente">
          <h3 class="card-title">Pacientes</h3>
          <img src="./../../../assets/fiebre.svg" class="card-img-top" alt="fiebre">
        </div>
      </div>
    </div>
    <div class="col-sm-4 m-4 fadeInDown">
      <div class="card">
        <div class="card-body" routerLink="consulta">
          <h3 class="card-title">Consultas</h3>
          <img src="./../../../assets/informe-medico.svg" class="card-img-top" alt="informe">
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>
