.circl{
    // border-radius: 3px ;
    // width: 10em;
    // height: 3em;
    // margin: 1em;
    // font-size: medium;
    // background-color: ;
    float: right;
    background-color: #5EBDBD;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    // box-shadow: 0 10px 30px 0 #5fc0c0;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
}
.circl:active{
    scale: 2;
}

.cont{
    
}